
#first{
  background-color: blue;
  color: black;
text-align: center

}

.second{
  background-color: red;
  color: white;
  font-size: 200%;
text-align: center
}

p{
  background-color:black;
  color: white;
height:200px;
width:50%;
	}
	








